*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    background-color: black;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 10vh;
}
